

<h2>WELCOME ADMIN</h2>
<div class="container">
    <ul class="nav justify-content-centre">
      <li class="nav-item" ><a routerLink="/addMedicine" class="nav-link">Add Medicine</a></li>
      <li class="nav-item" ><a routerLink="/medicinesList" class="nav-link">ALL Medicines</a></li>
      <li class="nav-item" ><a routerLink="/updatemedicine" class="nav-link">Update Medicine</a></li>
      <li class="nav-item" ><a routerLink="/deletemedicine" class="nav-link">Delete Medicine</a></li>
    </ul>
    </div>
   