 <!-- <div class="jumbotron">
<h2> {{title}}</h2>
</div>

<div class="container">
    <ul class="nav justify-content-centre">
      <li class="nav-item" ><a routerLink="/admin" class="nav-link">Admin's Login</a></li>
    </ul>
    </div>
    <br/>
    <br/> 
    <div class="container">  -->
      
       
    
     <!-- </div>  -->
     <div class="topnav">
      <a  routerLink="/admin">Admin's Login</a>
     
      <a  routerLink="/userlogin">User's Login</a>
      <a  routerLink="/register">Registeration</a>
      <a  routerLink="/medicinesList">Products</a>
      
   <input type="text"  placeholder="Search" name="search">
  
        
      <div class="topnav-right">
      <a routerLink="/addToCart" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
      </a>
      </div>
     



    </div>

    <router-outlet></router-outlet>