<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <span>{{ title }} app is running heree which is developed by {{developer}}</span>
 
  <h3>Printing the contents of test object</h3>
  Id:{{test.id}}<br/><br/>
  Name:{{test.name}}<br/><br/>
  Team:{{test.team}}
</div>
<div>
  <!-- to call any comoponent on html make use of selector -->
  <app-bindingdemo></app-bindingdemo>
</div>